fastapi
uvicorn
python-dotenv

# For app models extending "BaseModel"
pydantic 
pydantic-settings

# AWS Lambda and DynamoDB
mangum
boto3
botocore

# AI setupL langgraph/langchain
langgraph
langchain-openai
langchain-core

# Web scraping
requests
beautifulsoup4
